.poke-info-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 1.5em auto;
}

.back-btn {
  background-color: #5059ac !important;
  color: white !important;
  width: 30%;
  margin-bottom: 2em !important;
}

.detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

$medium: 900px;
.poke-image {
  width: 100%;
  @media screen and (min-width: $medium) {
    width: 50%;
  }
}

.poke-text {
  padding: 25px;
  color: #101c8d !important;
}

.progress-bar {
  width: 100%;
}

.general-information-item {
  display: flex;
  flex-direction: column;
}
