.card {
  &:hover {
    transition: transform 0.2s;
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(33, 33, 33, 0.7);
  }
}
.card-media {
  background-color: #5059ac;
  object-fit: fill !important;
}
.card-content {
  background-color: #5059acde;
  color: white;
  width: 250px;
}
.poke-name {
  text-transform: capitalize;
}
.poke-number,
.poke-name {
  font-family: "Carter One", cursive !important;
}
