.header {
  display: flex;
  align-items: center;
  background-color: #5059ac;
  box-shadow: 0 0 15px rgba(33, 33, 33, 0.7);
}

.header-logo {
  height: 3.5em;
  margin-left: 1em;
  margin-right: 2em;
}
