.poke-footer {
  height: 2.5em;
  width: 100%;
  position: absolute;
  left: 0;
  text-align: center;
  bottom: 0;
  font-family: "Roboto", Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5059ac;
  box-shadow: 0 0 15px rgba(33, 33, 33, 0.7);
}
