@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");
html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  margin-bottom: 4em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #7279bda6;
  font-family: "Carter One", cursive, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto";
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
